
mnist/MNIST_data/train-labels-idx1-ubyte.gz

mnist/logs/checkpoint

mnist/logs/model.ckpt-0.data-00000-of-00001

mnist/logs/model.ckpt-0.index

*.meta

mnist/logs/model.ckpt-1.data-00000-of-00001

*.index

*.data-00000-of-00001

*.gz

*.pyc
